<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SQLiteConnString" value="DataSource=paranoidClient.db;Pooling=True;Max Pool Size=100;Cache Size=1048576;page size=4096;FailIfMissing=True;Journal Mode=WAL;synchronous=NORMAL" />
  </appSettings>
</configuration>